@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
$oxygen: 'Oxygen';
.notebook {
    font-family: $oxygen;
    margin-left: 20px;
    margin-right: 20px;
    .notebook-header {
        font-weight: bolder;
        display: flex;
        width: 100%;
        min-height: 80px;
        align-items: center;
        margin-left: auto;
        font-size: 15px;
        outline-style: none;
        box-sizing: border-box;
        .notebooks-title {
            flex: 1;
            font-size: 20px;
            // padding-right: 12px;
             margin-left: 20px;
            // margin-right: 200   px;
        }
        .notebooks-search-bar-div {
            align-items: center;
            border-radius: 4px;
            margin-right: 20px;

            display: flex;
            .notebooks-search-bar{
                display: inline-block;
                font-size: 14px;
                outline: none;
                padding: 8px
            }
        }
    }
    .notebook-count-new {
        display: flex;
        font-size: 15px;
        font-weight: bolder;
        margin: 10px 0;
        min-height: 24px;
        height: 24px;
        margin-left: 20px;
        // margin-bottom: 20px;
        .notebook-count {
            margin-right: auto;
            vertical-align: middle;
            padding-top: 5px;
        };
        .new-notebook-button {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color:rgb(195, 93, 71);
            padding: 0;
            vertical-align: middle;
            float: right;
            cursor: pointer;
            outline: none;
            background-color: Transparent;
            border: none;
            margin-right: 20px
        }
    };

} 


.notebook-table {
    border-top: 2px solid #5b6b70;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: $oxygen;
    // margin-left: 20px;
    // margin-right: 20px;


    .notebook-sort {
        height: 37px;
        font-size: 11px;
        line-height: 20px;
        font-weight: lighter;
        color: #bcbcbc;
        background-color: #f8f8f8;
        flex-basis: 36px;
        // display: flex;
        justify-content: space-between;
        
        .sort-title {
            cursor: pointer;
            padding: .5rem;
            flex-basis: 30%;
            display: flex;
            flex: 1;
            text-align: left;
        };
        
        .sort-cb {
            // display: flex;
            cursor: pointer;
            flex: 1;
            text-align: left;
        };
        
        .sort-update {
            cursor: pointer;
            flex: 1;
            text-align: left;
        };
        
        .sort-action {
            flex: 1;
            text-align: end;
            cursor: pointer;
        };
    };

    .sort-body{
        // color: pink
        position: relative;
        box-sizing: border-box;
        direction: ltr;
        height: auto;
        width: 780px;
        
    }
    .sort-row {
        height: 40px;
        line-height: 20px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 50px;
        vertical-align: middle;
        position:relative;
        text-decoration: none;
        .sort-action-row {
            padding: .5rem;
            text-align: end;
        }
    };
    tr:nth-child(2n+2){
        background-color: #f8f8f8;
    };

    .sort-row:hover {
        background-color: #f2f2f2;
    }
    .notebook-sort-link {
        text-decoration: none;
        color: black
    }
    .notebook-sort-link:hover {
        text-decoration: underline;
        color: black
    }
}
//MODAL
.modal {
    outline-style: none;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(42, 51, 60, 0.4);
    // padding: 20px 25px 18px;
    
    .modal-contents {
        min-width: 450px;
        max-width: 650px;
        min-height: 200px;
        background-color: white;
        border-radius: 4px;
        padding: 2rem 4rem;
    };
    .modal-close {
        display: flex;
        justify-content: flex-end;
        margin-right: -2rem;
        margin-top: -1rem;
        cursor: pointer;
        
    };
    .modal-create-header {
        padding: 20px 25px 18px;
    }
    
    .modal-create-title {
        font-size: 18px;
        font-weight: bold;

    };
    .modal-close-span {
        color: #737373;
    }
    .modal-close-span:hover {
        color: black;
    }
    .modal-create-info {
        // line-height: 20px;
        padding-top: 15px;
        font-size: 14px;
    };
    .modal-create-form {
        padding: 0px 25px 0px 25px
    }
    .modal-name-label {
        font-size: 12px;
        display: block;
        margin-bottom: 100px;
    }
    .modal-title-input {
        margin-top: 10px;
        font-size: 16px;
        width: 100%;
        padding: 10px 10px;
    }
    .modal-buttons {
        border-top: 2px solid #d9d9d9;
        padding: 20px 25px;
        display: flex;
        justify-content: flex-end;
    };
    .modal-cancel {
        font-family: $oxygen;
        cursor: pointer;
        margin: 0 10px 0 0;
        color: #737373;
        padding: 10px 15px;
        background: white;
        border-width: 1px;
        border-radius: 4px;
        
    };
    .modal-cancel:hover {
        background: white;
        color: black;
    };

    .modal-submit {
        font-family: $oxygen;
        background: rgb(195, 93, 71);
        vertical-align: middle;
        display: inline-flex;
        border-radius: 4px;
        padding: 10px 20px;
        border: none;
        color: white
    };
    .modal-submit:hover {
        background-color:rgb(130, 190, 194);
    }
}
.modal-hidden {
        display: none;
    }

