@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap');
$oxygen: 'Oxygen';
.notebook {
    margin-left: 20px;
    margin-right: 20px;
    font-family: $oxygen;
    .notebook-header {
        font-weight: bolder;
        display: flex;
        width: 100%;
        min-height: 80px;
        align-items: center;
        margin-left: auto;
        font-size: 15px;
        outline-style: none;
        box-sizing: border-box;
        .notebooks-title {
            flex: 1;
            font-size: 20px;
            padding-right: 12px;
        }
        .notebooks-search-bar-div {
            align-items: center;
            border-radius: 4px;
            display: flex;
            .notebooks-search-bar{
                display: inline-block;
                font-size: 14px;
                outline: none;
                padding: 8px
            }
        }
    }
    .notebook-count-new {
        display: flex;
        font-size: 15px;
        font-weight: bolder;
        margin: 10px 0;
        min-height: 24px;
        height: 24px;
        // margin-bottom: 20px;
        .notebook-count {
            margin-right: auto;
            vertical-align: middle;
            padding-top: 5px;
        };
        .new-notebook-button {
            font-size: 14px;
            font-weight: 500;
            line-height: 24px;
            color:rgb(195, 93, 71);
            padding: 0;
            vertical-align: middle;
            float: right;
            cursor: pointer;
            outline: none;
            background-color: Transparent;
            border: none;
        }
    };

} 


.notebook-table {
    border-top: 2px solid #5b6b70;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: $oxygen;

    .notebook-sort {
        height: 37px;
        font-size: 11px;
        line-height: 20px;
        font-weight: lighter;
        color: #bcbcbc;
        background-color: #f8f8f8;
        flex-basis: 36px;
        // display: flex;
        justify-content: space-between;
        
        .sort-title {
            cursor: pointer;
            padding: .5rem;
            flex-basis: 30%;
            display: flex;
            flex: 1;
            text-align: left;
        };
        
        .sort-cb {
            // display: flex;
            cursor: pointer;
            flex: 1;
            text-align: left;
        };
        
        .sort-update {
            cursor: pointer;
            flex: 1;
            text-align: left;
        };
        
        .sort-action {
            flex: 1;
            text-align: end;
            cursor: pointer;
        };
    };

    .sort-body{
        // color: pink
        position: relative;
        box-sizing: border-box;
        direction: ltr;
        height: auto;
        width: 780px;
    }
    .sort-row {
        height: 40px;
        line-height: 20px;
        width: 100%;
        padding-top: 20px;
        padding-bottom: 50px;
        vertical-align: middle;
        position:relative;
        text-decoration: none;
        .sort-action-row {
            padding: .5rem;
            text-align: end;
        }
    };
    tr:nth-child(2n+2){
        background-color: #f8f8f8;
    };

    .sort-row:hover {
        background-color: #f2f2f2;
    }
    .notebook-sort-link {
        text-decoration: none;
        color: black
    }
    .notebook-sort-link:hover {
        text-decoration: underline;
        color: black
    }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

// .dropdown:active .dropdown-content {
//     display: block;
// }

.dropdown-content {
    display: block
}