@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400&display=swap");
$oxygen: "Oxygen";

.modal-background {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
}

.modal-child {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  border-radius: 4px;
  font-family: $oxygen;
}
.tag-form-wrapper {
  color: #333;
  min-width: 465px;
  min-height: 200px;
  max-width: 990px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08), 0 2px 15px gba(0, 0, 0, 0.2);
  outline: none;

  .tag-form-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 25px 18px;
    .modal-tag-name {
      // flex-grow: 1;
      max-width: 500px;
      font-size: 18px;
      word-wrap: break-word;
      font-weight: bold;
    }
    .close-x {
      font-size: 20px;
      font-weight: bold;
      color: #737373;
      cursor: pointer;
      &:hover {
        color: #333;
      }
    }
  }
  .tag-form-container {
    padding: 0 25px;
    position: relative;
    .modal-label {
      display: block;
      margin-bottom: 8px;
    }
    .tag-modal-input {
      border: 1px solid #ccc;
      width: 450px;
      padding: 0 10px;
      position: relative;
      overflow: hidden;
      border-radius: 5px;
      height: 40px;
      cursor: text;
      display: flex;
      justify-content: center;
      font-size: 16px;
    }
    .tag-spacer {
      min-height: 58px;
      padding-top: 8px;
    }
    .tag-form-btn {
      border-top: 1px solid #d9d9d9;
      padding: 20px 25px;
      display: flex;
      justify-content: flex-start;
      flex-direction: row-reverse;
      align-items: center;
      vertical-align: middle;
      font-family: $oxygen;
      .tag-form-submit {
        cursor: pointer;
        border: 1px solid rgb(195, 93, 71);
        background-color: rgb(195, 93, 71);
        color: #fff;
        padding: 10px 15px;
        border-radius: 4px;
        font-size: 14px;
        &:hover {
          background-color: rgb(130, 190, 194);
          border: 1px solid (rgb(130, 190, 194));
        }
      }
      .tag-form-close {
        cursor: pointer;
        margin: 0 10px 0 0;
        background-color: transparent;
        border: 1px solid #737373;
        color: #737373;
        border-radius: 4px;
        padding: 10px 15px;
        font-size: 14px;
        &:hover {
          color: #333;
        }
      }
    }
  }
}
