//responsive display
@media (max-width: 800px) {
  .note-list {
    display: block !important;
    width: 600px;
  }
  .note {
    width: 600px !important;
  }
  .tag-notes-showpage {
    max-width: 600px !important;
  }
  .note-list {
    display: block;
    width: 600px !important;
  }
  .empty-note-show-wrapper {
    max-width: 0px !important;
  }
  .sidenavbar {
    display: none !important;
  }
  .information-page {
    flex-direction: column !important;
  }
}

@media (max-width: 765px) {
  .home {
    width: 100%;
    max-width: 600px;
    display: flex;
  }

  .home-body {
    display: grid;
    margin: 24px 0px 24px 0px;

    min-width: 600px;
    max-width: 600px;
    grid-template-columns: repeat(3, 1fr);
  }

  .home-body-notes {
    grid-column: span 3;
  }
}

@media (max-width: 760px) {
  .sidenavbar {
    display: none !important;
  }

  .note-list {
    display: block;
    width: 600px !important;
  }
}

@media (max-width: 700px) {
  .note-list {
    display: none !important;
  }
  .note {
    display: 600px !important;
  }
  .empty-note-show-wrapper {
    min-width: 600px !important;
  }
}
